.box{
	width: 100%;
	padding: 30px 0px;
	border-bottom: 1px solid #eee;
	dl{
		clear: both;
		overflow: hidden;
	}
	dt{
		float: left;
	}
	dd{
		float: left;
		margin-left: 20px;
		a{
			color: #666;
			text-decoration: none;
		}
	}
}